.header{
    font-size: 3.5rem;
    display: block;
    text-align: center;
}

.text{
font-size: 1rem;
display: block;
text-align: center;
padding-left: 8rem;
padding-right: 8rem;
font-family: Arial, Helvetica, sans-serif;
line-height: 1,5%;

}

.underheaders{
font-size: 2rem;
display: block;
text-align: center;
padding-top: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: antiquewhite;
}

.display{
    background-color: bisque
    
}
.pictures img{
    width: 800px;
    display: block;
    margin: auto;
    padding-top: 3rem;
}