.header{
    font-size: 3.5rem;
    display: block;
    text-align: center;
}

.text{
font-size: 1rem;
display: block;
text-align: center;
padding-left: 3.5rem;
padding-right: 3.5rem;
}

.underheaders{
font-size: 2rem;
display: block;
text-align: center;
}