

.header{
    font-size: 3.5rem;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.text{
font-size: 1rem;
display: block;
text-align: center;
padding-left: 10rem;
padding-right: 10rem;
font-family: Arial, Helvetica, sans-serif;
line-height: 1,5%;

}

.underheaders{
font-size: 2rem;
display: block;
text-align: center;
padding-top: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: antiquewhite;
   /*background: linear-gradient(to right,#000000, #FFFFFF);*/
}

.display{
    background-color: bisque;
    margin-top: -20px;
    
}
.pictures img{
    width: 800px;
    display: block;
    margin: auto;
    padding-top: 3rem;
}

#textcontentheader{
 font-size: 2rem;
}

#signupinfo{
    text-align: center;
    font-size: 5rem;
}

.signupinfo2{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.signupbutton{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    text-align: right;
}

.buttonres{
    font-size: 0.8rem;
    text-decoration: none;
}

.nobutton{
    background: none;
    border: none;
    outline: none;
}

.move{
    margin-top: -25px;
}

#textcontent{
    font-size: 2rem;
}

.original-display{
    background-color: black;
    position: fixed;
    display: flex;
    top: 0%;
    width: 100%;
    height: 70px;
    left: 0%;
}

.display-buttons{
    color: white;
    margin-left: 40px;
    font-size: 2rem;
}

button{
    background: none;
    color: inherit;
    padding: 0%;
    font: inherit;
    outline: inherit;
}